{% extends "home.html" %}
{% block center_body %}
    <div class="row">
        <div class="col-sm-3">
            <div class="list-group" style="max-height:700px;overflow-y:scroll">
                <a href="{% url '[udeskapi]:notes3' %}" class="list-group-item list-group-item-action">获取业务记录列表</a>
{#                <a href="{% url '[udeskapi]:customers4' %}" class="list-group-item list-group-item-action">获取客户详情</a>#}
{#                <a href="{% url '[udeskapi]:customers5' %}" class="list-group-item list-group-item-action">创建客户</a>#}
{#                <a href="{% url '[udeskapi]:customers6' %}" class="list-group-item list-group-item-action">更新客户</a>#}
{#                <a href="{% url '[udeskapi]:customers7' %}" class="list-group-item list-group-item-action">删除客户</a>#}
{#                <a href="{% url '[udeskapi]:customers8' %}" class="list-group-item list-group-item-action">获取客户历史记录列表</a>#}
{#                <a href="{% url '[udeskapi]:customers9' %}" class="list-group-item list-group-item-action">获取客户过滤器列表</a>#}
{#                <a href="{% url '[udeskapi]:customers10' %}" class="list-group-item list-group-item-action">客户批量导入</a>#}
{#                <a href="{% url '[udeskapi]:customers11' %}" class="list-group-item list-group-item-action">客户批量导出</a>#}
{#                <a href="{% url '[udeskapi]:customers12' %}" class="list-group-item list-group-item-action">合并两个客户的信息</a>#}
            </div>
        </div>
        <div class="col-sm-9" style="border:solid 1px black">
            {% block center_right_body %}
            {% endblock %}
        </div>
    </div>
{% endblock %}