{% extends "home.html" %}
{% block center_body %}
    <div class="row">
        <div class="col-sm-3">
            <div class="list-group" style="max-height:700px;overflow-y:scroll">
                <a href="{% url '[udeskapi]:agent1' %}" class="list-group-item list-group-item-action">获取客服列表</a>
                <a href="{% url '[udeskapi]:agent2' %}" class="list-group-item list-group-item-action">获取客服详情</a>
                <a href="{% url '[udeskapi]:agent3' %}" class="list-group-item list-group-item-action">新建客服</a>
                <a href="{% url '[udeskapi]:agent4' %}" class="list-group-item list-group-item-action">修改客服</a>
                <a href="{% url '[udeskapi]:agent5' %}" class="list-group-item list-group-item-action">删除客服</a>
                <a href="{% url '[udeskapi]:agent6' %}" class="list-group-item list-group-item-action">获取角色列表</a>
            </div>
        </div>
        <div class="col-sm-9" style="border:solid 1px black">
            {% block center_right_body %}
            {% endblock %}
        </div>
    </div>
{% endblock %}